<footer class="footer" style="-display: none">
    <div class="container">
        <div class="row">
            {% if informations %}
            <div class="col-sm-3">
                <h5>{{ text_information }}</h5>
                <ul class="list-unstyled">
                    {% for information in informations %}
                    <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="col-sm-3">
                <h5>{{ text_service }}</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ contact }}">{{ text_contact }}</a></li>
                    <li><a href="{{ return }}">{{ text_return }}</a></li>
                    <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>{{ text_extra }}</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ account }}">{{ 'Request Order' }}</a></li>
                    <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
                    <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
                    <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
                    <li><a href="{{ special }}">{{ text_special }}</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>{{ text_account }}</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ account }}">{{ text_account }}</a></li>
                    <li><a href="{{ order }}">{{ text_order }}</a></li>
                    <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
                    <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p style="color: #d0d0d0;">{{ powered }}</p>
    </div>
</footer>

<footer style="display: none" id="footer" class="footer light-footer text-light">
    <!-- start Footer -->
    <div class="footer-widget">
        <div class="container">
            <br/>
            <center>
                <h3 style="clear: both">{{text_contact_with_us}}</h3>
                <div class="clearfix"></div>
                <center>
                    <img style="text-align: center;" width="250px" src="catalog/view/theme/default/image/social-footer.PNG" />
                </center>
            </center>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 footer-bottom-first">
                    <div class="region region-footer-bottom-first">
                        <div id="block-copyright-text" class="norm-width block-title-1 block-title-left block block-block-content block-block-content6266136b-af76-455e-933b-9bb914cbc722">
                            <div class="container-wrap clearfix">
                                <div class="block-content clearfix">
                                    <div class="field field-body field-type-text-with-summary field-label-hidden field-item text-center">
                                        <p>Copyright © 2020 <a href="#">Nutrition Warehouse</a>. All rights reserved.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</footer>
<div class="back-to-top"><span class="ti-angle-up"></span></div>
<div class="preloader">
    <div class="preloader-spinner"></div>
</div>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->

</body>

</html>
<!-- ################Third Party JS ############################ -->
<script type="text/javascript" src="catalog/view/javascript/thirdparty/jquery.flipcountdown.js"></script>

<script>

    jQuery(function($) {
        $("#bodyheadertext_login").hide();
        $("#close_").click(function() {
            $("#bodyheadertext_login").hide();
        });
        $("#buttonRegisterPopUp").click(function() {
            $("#bodyheadertext_login").show();
        });
        var i = 1000;
        $('#retroclockbox1').flipcountdown();
        var i = 1;
        $('#retroclockbox_counter').flipcountdown({
            tick: function() {
                return i++;
            }
        });
        $('#retroclockbox2').flipcountdown({
            showHour: false,
            showMinute: false,
            showSecond: true
        });
        $('#retroclockbox3').flipcountdown({
            tzoneOffset: 3,
            showSecond: false
        });
        $('#retroclockbox4').flipcountdown({
            am: true
        });
        $('#retroclockbox5').flipcountdown({
            speedFlip: 50
        });
        $('#retroclockbox6').flipcountdown({
            tick: function() {
                return new Date('5/10/2012 12:34:23');
            }
        });
    })
</script>

<script>
    jQuery(function($) {
        //var NY = Math.round((new Date('1/01/2015 00:00:01')).getTime()/1000);
        $('#new_year').flipcountdown({
            size: 'lg',
            beforeDateTime: '1/01/2015 00:00:01'
                /*tick:function(){
                  var nol = function(h){
                    return h>9?h:'0'+h;
                  }
                  var	range  	= NY-Math.round((new Date()).getTime()/1000),
                    secday = 86400, sechour = 3600,
                    days 	= parseInt(range/secday),
                    hours	= parseInt((range%secday)/sechour),
                    min		= parseInt(((range%secday)%sechour)/60),
                    sec		= ((range%secday)%sechour)%60;
                  return nol(days)+' '+nol(hours)+' '+nol(min)+' '+nol(sec);
                }*/
        });
    });
</script>

<script>
     $(".userRegisterPopUp").hide();        
    $("#modal_containerPopUp").removeClass("modal_container_class");
    $("#close").click(function() {
        $("#modal_containerPopUp").removeClass("modal_container_class");
        $(".userRegisterPopUp").hide();
    });
    $("#buttonRegisterPopUp").click(function() {
        $("#modal_containerPopUp").addClass("modal_container_class");
        $(".userRegisterPopUp").show();
    });
    jQuery(function($) {
        
        $('#retroclockbox_lg').flipcountdown({
            size: 'lg'
        });
        $('#retroclockbox_md').flipcountdown({
            size: 'md'
        });
        $('#retroclockbox_sm').flipcountdown({
            size: 'sm'
        });
        $('#retroclockbox_xs').flipcountdown({
            size: 'xs'
        });
    })
</script>

<script data-cfasync="false" src="catalog/view/javascript/thirdparty/email-decode.min.js"></script>
<script type="application/json" data-drupal-selector="drupal-settings-json">
    {
        "path": {
            "baseUrl": "\/martis\/",
            "scriptPath": null,
            "pathPrefix": "en\/",
            "currentPath": "node\/169",
            "currentPathIsAdmin": false,
            "isFront": true,
            "currentLanguage": "en"
        },
        "pluralDelimiter": "\u0003",
        "suppressDeprecationErrors": true,
        "ajaxPageState": {
            "libraries": "better_exposed_filters\/general,carousel\/owl-carousel,color_field\/color-field-formatter-swatch,commerce_cart\/cart_block,commerce_product\/rendered-attributes,core\/drupal.ajax,core\/html5shiv,core\/jquery.form,facets\/drupal.facets.hierarchical,facets\/drupal.facets.link-widget,flag\/flag.link,lang_dropdown\/lang-dropdown-form,martis\/animation,martis\/bootstrap,martis\/fonts,martis\/global,martis\/image-zoom,martis\/niceselect,martis\/owl-carousel,martis\/shuffle,martis\/slimscroll,martis\/themify-icons,statistics\/drupal.statistics,system\/base,views\/views.module,votingapi_widgets\/fivestar",
            "theme": "martis",
            "theme_token": null
        },
        "ajaxTrustedUrl": {
            "form_action_p_pvdeGsVG5zNF_XLGPTvYSKCf43t8qZYSwcfZl2uzM": true,
            "\/martis\/en\/home?ajax_form=1": true,
            "\/martis\/en\/catalog": true
        },
        "statistics": {
            "data": {
                "nid": "169"
            },
            "url": "\/martis\/core\/modules\/statistics\/statistics.php"
        },
        "lang_dropdown": {
            "lang-dropdown-form": {
                "key": "lang_dropdown_form5e4d60d9aedfd0.47338846"
            }
        },
        "ajax": {
            "edit-purchased-entity-0-attributes-attribute-shoe-size-21": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_shoe_size]"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-color-13": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_color]"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-color-20": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_color]"
                }
            },
            "edit-submit--3": {
                "callback": [{
                    "plugin": null
                }, "ajaxSubmit"],
                "event": "click",
                "wrapper": "vote-form",
                "progress": {
                    "type": null
                },
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "op",
                    "_triggering_element_value": "Save"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-shoe-size-23": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--2",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_shoe_size]"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-shoe-size-21--2": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--2",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_shoe_size]"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-color-14": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--2",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_color]"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-color-29": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--2",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_color]"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-color-15": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--2",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_color]"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-color-28": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--2",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_color]"
                }
            },
            "edit-submit--6": {
                "callback": [{
                    "plugin": null
                }, "ajaxSubmit"],
                "event": "click",
                "wrapper": "vote-form--2",
                "progress": {
                    "type": null
                },
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "op",
                    "_triggering_element_value": "Save"
                }
            },
            "edit-submit--9": {
                "callback": [{
                    "plugin": null
                }, "ajaxSubmit"],
                "event": "click",
                "wrapper": "vote-form--3",
                "progress": {
                    "type": null
                },
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "op",
                    "_triggering_element_value": "Save"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-shoe-size-21--3": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--4",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_shoe_size]"
                }
            },
            "edit-submit--12": {
                "callback": [{
                    "plugin": null
                }, "ajaxSubmit"],
                "event": "click",
                "wrapper": "vote-form--4",
                "progress": {
                    "type": null
                },
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "op",
                    "_triggering_element_value": "Save"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-size-10": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--5",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_size]"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-size-9": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--5",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_size]"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-size-8": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--5",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_size]"
                }
            },
            "edit-submit--15": {
                "callback": [{
                    "plugin": null
                }, "ajaxSubmit"],
                "event": "click",
                "wrapper": "vote-form--5",
                "progress": {
                    "type": null
                },
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "op",
                    "_triggering_element_value": "Save"
                }
            },
            "edit-submit--18": {
                "callback": [{
                    "plugin": null
                }, "ajaxSubmit"],
                "event": "click",
                "wrapper": "vote-form--6",
                "progress": {
                    "type": null
                },
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "op",
                    "_triggering_element_value": "Save"
                }
            },
            "edit-submit--21": {
                "callback": [{
                    "plugin": null
                }, "ajaxSubmit"],
                "event": "click",
                "wrapper": "vote-form--7",
                "progress": {
                    "type": null
                },
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "op",
                    "_triggering_element_value": "Save"
                }
            },
            "edit-submit--24": {
                "callback": [{
                    "plugin": null
                }, "ajaxSubmit"],
                "event": "click",
                "wrapper": "vote-form--8",
                "progress": {
                    "type": null
                },
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "op",
                    "_triggering_element_value": "Save"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-color-19": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--9",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_color]"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-color-18": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--9",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_color]"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-color-17": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--9",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_color]"
                }
            },
            "edit-submit--27": {
                "callback": [{
                    "plugin": null
                }, "ajaxSubmit"],
                "event": "click",
                "wrapper": "vote-form--9",
                "progress": {
                    "type": null
                },
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "op",
                    "_triggering_element_value": "Save"
                }
            },
            "edit-submit--30": {
                "callback": [{
                    "plugin": null
                }, "ajaxSubmit"],
                "event": "click",
                "wrapper": "vote-form--10",
                "progress": {
                    "type": null
                },
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "op",
                    "_triggering_element_value": "Save"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-size-10--2": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--11",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_size]"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-size-9--2": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--11",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_size]"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-size-7": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--11",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_size]"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-size-8--2": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--11",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_size]"
                }
            },
            "edit-submit--33": {
                "callback": [{
                    "plugin": null
                }, "ajaxSubmit"],
                "event": "click",
                "wrapper": "vote-form--11",
                "progress": {
                    "type": null
                },
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "op",
                    "_triggering_element_value": "Save"
                }
            },
            "edit-submit--36": {
                "callback": [{
                    "plugin": null
                }, "ajaxSubmit"],
                "event": "click",
                "wrapper": "vote-form--12",
                "progress": {
                    "type": null
                },
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "op",
                    "_triggering_element_value": "Save"
                }
            },
            "edit-submit--39": {
                "callback": [{
                    "plugin": null
                }, "ajaxSubmit"],
                "event": "click",
                "wrapper": "vote-form--13",
                "progress": {
                    "type": null
                },
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "op",
                    "_triggering_element_value": "Save"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-color-18--2": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--14",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_color]"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-color-15--2": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--14",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_color]"
                }
            },
            "edit-submit--42": {
                "callback": [{
                    "plugin": null
                }, "ajaxSubmit"],
                "event": "click",
                "wrapper": "vote-form--14",
                "progress": {
                    "type": null
                },
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "op",
                    "_triggering_element_value": "Save"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-shoe-size-21--4": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--15",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_shoe_size]"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-color-13--2": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--15",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_color]"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-color-20--2": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--15",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_color]"
                }
            },
            "edit-submit--45": {
                "callback": [{
                    "plugin": null
                }, "ajaxSubmit"],
                "event": "click",
                "wrapper": "vote-form--15",
                "progress": {
                    "type": null
                },
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "op",
                    "_triggering_element_value": "Save"
                }
            },
            "edit-submit--48": {
                "callback": [{
                    "plugin": null
                }, "ajaxSubmit"],
                "event": "click",
                "wrapper": "vote-form--16",
                "progress": {
                    "type": null
                },
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "op",
                    "_triggering_element_value": "Save"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-shoe-size-21--5": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--17",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_shoe_size]"
                }
            },
            "edit-submit--51": {
                "callback": [{
                    "plugin": null
                }, "ajaxSubmit"],
                "event": "click",
                "wrapper": "vote-form--17",
                "progress": {
                    "type": null
                },
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "op",
                    "_triggering_element_value": "Save"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-size-10--3": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--18",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_size]"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-size-9--3": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--18",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_size]"
                }
            },
            "edit-purchased-entity-0-attributes-attribute-size-8--3": {
                "callback": ["Drupal\\commerce_product\\Plugin\\Field\\FieldWidget\\ProductVariationAttributesWidget", "ajaxRefresh"],
                "wrapper": "commerce-product-add-to-cart-form--18",
                "disable-refocus": true,
                "event": "change",
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "purchased_entity[0][attributes][attribute_size]"
                }
            },
            "edit-submit--54": {
                "callback": [{
                    "plugin": null
                }, "ajaxSubmit"],
                "event": "click",
                "wrapper": "vote-form--18",
                "progress": {
                    "type": null
                },
                "url": "\/martis\/en\/home?ajax_form=1",
                "dialogType": "ajax",
                "submit": {
                    "_triggering_element_name": "op",
                    "_triggering_element_value": "Save"
                }
            }
        },
        "user": {
            "uid": 0,
            "permissionsHash": "2df433c96f8adf4eeb0859ded99fc75740c90bb2e6203cb630e868938d15e997"
        }
    }
</script>
<script src="catalog/view/javascript/thirdparty/js_e-lu2bO4fWt0bVscMrfVZCcTmv8FzaYXGKaKWPvUBJ8.js"></script>


<!-- owl.carousel.min js -->
<script type="text/javascript" src="catalog/view/javascript/js/owl.carousel.min.js"></script>
<link href="catalog/view/javascript/jquery/owl-carousel/owl.carousel.css" type="text/css" rel="stylesheet" media="screen" />
<script type="text/javascript">
  $('#carousel1').owlCarousel({
    items: 3,
    autoPlay: 3000,
    navigation: true,
    navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
    pagination: true,
    margin:10,
    loop: true,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:4,
            nav:true,
            loop:false
        }
    }
  });
</script>
