<!-- Count Down Timer -->
<section id="page-wrapper" class="page-wrapper container-fluid">
    <div class="container-">
        <div class="row- content-layout">
            <!--- Start content -->
            <div class="-col-md-12 main-content">
                <div id="block-shop-icon-box" class="norm-width block-title-1 block-title-left block block-block-content block-block-content27318079-24d3-47d4-8fa9-15234a0d8327">
                    <div class="container-wrap clearfix">
                        <div class="block-content clearfix">
                            <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                                <div class="text-md-center box-icon">
                                    <div class="row">
                                        <div class="col-lg-4 col-4 col-sm-2 box-icon-items">
                                            <div class="box-icon-item">
                                                <div class="box-icon">
                                                    <i class="ti-timer"></i>
                                                </div>
                                                <div class="box-desc">
                                                    <!-- <h5 class="box-icon-title">{{text_free_shipping}}</h5>
                                                    <p>{{text_sub_title_free_shipping}}</p> -->
                                                    <h5 class="box-icon-title">Trust</h5>
                                                    <p>ទំនុកចិត្ត</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-4 col-sm-2 box-icon-items">
                                            <div class="box-icon-item">
                                                <div class="box-icon">
                                                    <!-- <i class="ti-reload"></i> -->
                                                    <i class="ti-user"></i>
                                                </div>
                                                <div class="box-desc">
                                                    <!-- <h5 class="box-icon-title">{{text_30_day_return}}</h5>
                                                    <p>{{text_sub_title_30_day_return}}</p> -->
                                                    <h5 class="box-icon-title">Safe</h5>
                                                    <p>សុវត្ថិភាព</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-4 col-sm-2 box-icon-items">
                                            <div class="box-icon-item">
                                                <div class="box-icon">
                                                    <i class="ti-thumb-up"></i>
                                                </div>
                                                <div class="box-desc">
                                                    <!-- <h5 class="box-icon-title">{{text_lowest_price}}</h5>
                                                    <p>{{text_sub_title_lowest_price}}</p> -->
                                                    <h5 class="box-icon-title">Quality</h5>
                                                    <p>គុណភាព</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- count-down-timer -->
                <div class="count-down-timer">
                    <h2 class="timer">{{text_count_down_timer}}</h2>
                    <p>
                        <span>{{text_regular_time}}</span>
                    </p>
                    <div id="retroclockbox_lg"></div>
                </div>
                <!--#Endcountdowntimer-->
            </div>
        </div>
    </div>
</section>