{{ header }}
<!-- breadcrumb -->
<section id="page-title" class="page-title dark-page-title">
  <div class="container">
    <div class="region region-page-title">
      <div id="block-martis-page-title" class="norm-width block-title-1 block-title-left block block-core block-page-title-block" >
        <div class="container-wrap clearfix">
          <div class="block-content clearfix">
            <h1>{{heading_title}}</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="pull-left region region-breadcrumb">
      <div id="block-martis-breadcrumbs" class="norm-width block-title-1 block-title-left block block-system block-system-breadcrumb-block" >
        <div class="container-wrap clearfix">
          <div class="block-content clearfix"> 
            <nav class="breadcrumb" aria-labelledby="system-breadcrumb">
              <!-- <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2> -->
              <ul>
                {% for breadcrumb in breadcrumbs %}
                  <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<div id="account-reward" class="container">
  <!-- <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul> -->
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <p>{{ text_total }} <b>{{ total }}</b>.</p>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td class="text-left">{{ column_date_added }}</td>
              <td class="text-left">{{ column_description }}</td>
              <td class="text-right">{{ column_points }}</td>
            </tr>
          </thead>
          <tbody>
          
          {% if rewards %}
          {% for reward in rewards %}
          <tr>
            <td class="text-left">{{ reward.date_added }}</td>
            <td class="text-left">{% if reward.order_id %} <a href="{{ reward.href }}">{{ reward.description }}</a> {% else %}
              {{ reward.description }}
              {% endif %}</td>
            <td class="text-right">{{ reward.points }}</td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td class="text-center" colspan="3">{{ text_empty }}</td>
          </tr>
          {% endif %}
            </tbody>
          
        </table>
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      <div class="buttons clearfix">
        <br/>
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}