<div class="row">
    <div class="col-lg-6 col-sm-12" style="padding-bottom:20px">
        {#
        <h2>{{ text_new_customer }}</h2> #} {#
        <p>{{ text_checkout }}</p> #} {#
        <div class="radio">
            <label> {% if account == 'register' %}
        <input type="radio" name="account" value="register" checked="checked" />
        {% else %}
        <input type="radio" name="account" value="register" />
        {% endif %}
        {{ text_register }}</label>
        </div>
        {% if checkout_guest %}
        <div class="radio">
            <label> {% if account == 'guest' %}
        <input type="radio" name="account" value="guest" checked="checked" />
        {% else %}
        <input type="radio" name="account" value="guest" />
        {% endif %}
        {{ text_guest }}</label>
        </div>#} 
        {% if checkout_guest %}
        <div class="radio" style="display: none">
            <label> {% if account == 'guest' %}
        <input type="radio" name="account" value="guest" checked="checked" />
        {% else %}
        <input type="radio" name="account" value="guest" checked="checked" />
        {% endif %}
        {{ text_guest }}</label>
        </div>
        {% endif %}
        <p>{{ text_register_account }}</p>
        {# <input type="button" value="{{ button_continue }}" id="button-account" data-loading-text="{{ text_loading }}" class="btn btn-primary" /> #}
        <a href="index.php?route=account/register" class="btn btn-primary">Register Account</a>
        <input type="button" value="Express Checkout" id="button-account" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
    </div>
    <div class="col-lg-6 col-sm-12 return-account" style="padding-bottom:20px">
        <h2>{{ text_returning_customer }}</h2>
        <p>{{ text_i_am_returning_customer }}</p>
        <div class="form-group">
            <label class="control-label" for="input-email">{{ entry_email }}</label>
            <input type="text" size="60" name="email" value="" placeholder="{{ entry_email }}" id="input-email" class="form-text" />
        </div>
        <div class="form-group">
            <label class="control-label" for="input-password">{{ entry_password }}</label>
            <input type="password" size="60" name="password" value="" placeholder="{{ entry_password }}" id="input-password" class="form-text" />
            <a href="{{ forgotten }}">{{ text_forgotten }}</a></div>
        <input type="button" value="{{ button_login }}" id="button-login" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
    </div>
</div>