{{ header }}
<!-- breadcrumb -->
<section id="page-title" class="page-title dark-page-title">
    <div class="container">
        <div class="region region-page-title">
            <div id="block-martis-page-title" class="norm-width block-title-1 block-title-left block block-core block-page-title-block">
                <div class="container-wrap clearfix">
                    <div class="block-content clearfix">
                        <h1>{{heading_title}}</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="pull-left region region-breadcrumb">
            <div id="block-martis-breadcrumbs" class="norm-width block-title-1 block-title-left block block-system block-system-breadcrumb-block">
                <div class="container-wrap clearfix">
                    <div class="block-content clearfix">
                        <nav class="breadcrumb" aria-labelledby="system-breadcrumb">
                            <!-- <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2> -->
                            <ul>
                                {% for breadcrumb in breadcrumbs %}
                                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End breadcrumb -->
<div style="_display: none;" id="product-category">
    <!-- <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul> -->

    <div class="container" style="display: none;">
        <div class="row">{{ column_left }} {% if column_left and column_right %} {% set class = 'col-sm-6' %} {% elseif column_left or column_right %} {% set class = 'col-sm-9' %} {% else %} {% set class = 'col-sm-12' %} {% endif %}
            <div id="-content" class="{{ class }}">{{ content_top }}
                <h2>{{ heading_title }}</h2>
                {% if thumb or description %}
                <div class="row"> {% if thumb %}
                    <div class="col-sm-2"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
                    {% endif %} {% if description %}
                    <div class="col-sm-10">{{ description }}</div>
                    {% endif %}</div>
                <hr> {% endif %} {% if categories %}
                <h3>{{ text_refine }}</h3>
                {% if categories|length
                <=5 %} <div class="row">
                    <div class="col-sm-3">
                        <ul>
                            {% for category in categories %}
                            <li><a href="{{ category.href }}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
            </div>
            {% else %}
            <div class="row">{% for category in categories|batch((categories|length / 4)|round(1, 'ceil')) %}
                <div class="col-sm-3">
                    <ul>
                        {% for child in category %}
                        <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}</div>
            <br /> {% endif %} {% endif %} {% if products %}
            <div class="row">
                <div class="col-md-2 col-sm-6 hidden-xs">
                    <div class="btn-group btn-group-sm">
                        <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="ti-view-list-alt"></i></button>
                        <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="ti-layout-grid3"></i></button>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group"><a href="{{ compare }}" id="compare-total" class="btn btn-link">{{ text_compare }}</a></div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="form-group input-group input-group-sm">
                        <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
                        <select id="input-sort" class="form-control" onchange="location = this.value;">



                {% for sorts in sorts %}
                {% if sorts.value == '%s-%s'|format(sort, order) %}



                <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>



                {% else %}



                <option value="{{ sorts.href }}">{{ sorts.text }}</option>



                {% endif %}
                {% endfor %}



              </select>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="form-group input-group input-group-sm">
                        <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
                        <select id="input-limit" class="form-control" onchange="location = this.value;">



                {% for limits in limits %}
                {% if limits.value == limit %}



                <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>



                {% else %}



                <option value="{{ limits.href }}">{{ limits.text }}</option>



                {% endif %}
                {% endfor %}



              </select>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                <div class="product-layout product-list col-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="product-thumb">
                        <div class="image">
                            <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
                        </div>
                        <div>
                            <div class="caption">
                                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                                <p>{{ product.description }}</p>
                                {% if product.price %}
                                <p class="price"> {% if not product.special %} {{ product.price }} {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %} {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>                                    {% endif %} </p>
                                {% endif %} {% if product.rating %}
                                <div class="rating"> {% for i in 1..5 %} {% if product.rating
                                    < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>{% endif %} {% endfor %} </div>
                                {% endif %}
                            </div>
                            <div class="button-group">
                                <button type="button" class="btn btn-link" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i class="ti-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                                <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="ti-heart"></i></button>
                                <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="ti-control-shuffle"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-sm-6 text-left">{{ pagination }}</div>
                <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
            {% endif %} {% if not categories and not products %}
            <p>{{ text_empty }}</p>
            <div class="buttons">
                <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
            </div>
            {% endif %} {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>


<div id="" class="container"></div>
<!-- layout -->
<section id="page-wrapper" class="page-wrapper">
    <div class="container">
        <div class="col-sm-12">
            <div id="content"></div>
        </div>
        <div class="row content-layout">
            <!--- Start Left SideBar -->
            <!-- <div class ="col-md-3 sidebar"> -->
            <!-- <div class="region region-sidebar-first">
          <div id="block-category" class="block-facet--checkbox norm-width block-title-1 block-title-left block block-facets block-facet-blockcategory" >
            <div class="container-wrap clearfix">
              <div class="block-title-wrap clearfix">
                <div class="block-title-content">
                  <h2 class="block-title">Categories</h2>
                </div>
              </div>

              <div class="block-content clearfix">
                <ul data-drupal-facet-id="category" data-drupal-facet-alias="category" class="js-facets-checkbox-links item-list__checkbox facet-list"><li class="facet-item facet-item--collapsed"><a href="/martis/en/products/category/phones-tablets-61" rel="nofollow" data-drupal-facet-item-id="category-61" data-drupal-facet-item-value="61"><span class="facet-item__value">Phones &amp; Tablets</span>
                  </a></li><li class="facet-item facet-item--collapsed"><a href="/martis/en/products/category/computing-62" rel="nofollow" data-drupal-facet-item-id="category-62" data-drupal-facet-item-value="62"><span class="facet-item__value">Computing</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/category/electronics-118" rel="nofollow" data-drupal-facet-item-id="category-118" data-drupal-facet-item-value="118"><span class="facet-item__value">Electronics</span>
                  </a></li><li class="facet-item facet-item--collapsed"><a href="/martis/en/products/category/television-video-63" rel="nofollow" data-drupal-facet-item-id="category-63" data-drupal-facet-item-value="63"><span class="facet-item__value">Television &amp; Video</span>
                  </a></li><li class="facet-item facet-item--collapsed"><a href="/martis/en/products/category/audio-system-108" rel="nofollow" data-drupal-facet-item-id="category-108" data-drupal-facet-item-value="108"><span class="facet-item__value">Audio System</span>
                  </a></li><li class="facet-item facet-item--collapsed"><a href="/martis/en/products/category/camera-photo-107" rel="nofollow" data-drupal-facet-item-id="category-107" data-drupal-facet-item-value="107"><span class="facet-item__value">Camera &amp; Photo</span>
                  </a></li><li class="facet-item facet-item--collapsed"><a href="/martis/en/products/category/fashion-101" rel="nofollow" data-drupal-facet-item-id="category-101" data-drupal-facet-item-value="101"><span class="facet-item__value">Fashion</span>
                  </a></li><li class="facet-item facet-item--collapsed"><a href="/martis/en/products/category/home-office-110" rel="nofollow" data-drupal-facet-item-id="category-110" data-drupal-facet-item-value="110"><span class="facet-item__value">Home &amp; Office</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/category/game-toys-103" rel="nofollow" data-drupal-facet-item-id="category-103" data-drupal-facet-item-value="103"><span class="facet-item__value">Game &amp; Toys</span>
                  </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div id="block-brand" class="block-facet--checkbox norm-width block-title-1 block-title-left block block-facets block-facet-blockbrand" >
            <div class="container-wrap clearfix">
              <div class="block-title-wrap clearfix">
                <div class="block-title-content">
                  <h2 class="block-title">Brands</h2>
                </div>
              </div>
              <div class="block-content clearfix">
                <ul data-drupal-facet-id="brand" data-drupal-facet-alias="brand" class="js-facets-checkbox-links item-list__checkbox facet-list"><li class="facet-item"><a href="/martis/en/products/brand/acer-75" rel="nofollow" data-drupal-facet-item-id="brand-75" data-drupal-facet-item-value="75"><span class="facet-item__value">Acer</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/amoretu-81" rel="nofollow" data-drupal-facet-item-id="brand-81" data-drupal-facet-item-value="81"><span class="facet-item__value">Amoretu</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/apple-80" rel="nofollow" data-drupal-facet-item-id="brand-80" data-drupal-facet-item-value="80"><span class="facet-item__value">Apple</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/burberry-46" rel="nofollow" data-drupal-facet-item-id="brand-46" data-drupal-facet-item-value="46"><span class="facet-item__value">Burberry</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/clarks-90" rel="nofollow" data-drupal-facet-item-id="brand-90" data-drupal-facet-item-value="90"><span class="facet-item__value">Clarks</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/coolcy-96" rel="nofollow" data-drupal-facet-item-id="brand-96" data-drupal-facet-item-value="96"><span class="facet-item__value">Coolcy</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/dolce-gabbana-44" rel="nofollow" data-drupal-facet-item-id="brand-44" data-drupal-facet-item-value="44"><span class="facet-item__value">Dolce &amp; Gabbana</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/fitbit-87" rel="nofollow" data-drupal-facet-item-id="brand-87" data-drupal-facet-item-value="87"><span class="facet-item__value">Fitbit</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/fossil-88" rel="nofollow" data-drupal-facet-item-id="brand-88" data-drupal-facet-item-value="88"><span class="facet-item__value">Fossil</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/franco-fortini-91" rel="nofollow" data-drupal-facet-item-id="brand-91" data-drupal-facet-item-value="91"><span class="facet-item__value">Franco Fortini</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/frisby-160" rel="nofollow" data-drupal-facet-item-id="brand-160" data-drupal-facet-item-value="160"><span class="facet-item__value">Frisby</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/givenchy-45" rel="nofollow" data-drupal-facet-item-id="brand-45" data-drupal-facet-item-value="45"><span class="facet-item__value">Givenchy</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/gm-golaiman-92" rel="nofollow" data-drupal-facet-item-id="brand-92" data-drupal-facet-item-value="92"><span class="facet-item__value">GM GOLAIMAN</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/goodthreads-98" rel="nofollow" data-drupal-facet-item-id="brand-98" data-drupal-facet-item-value="98"><span class="facet-item__value">Goodthreads</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/gucci-47" rel="nofollow" data-drupal-facet-item-id="brand-47" data-drupal-facet-item-value="47"><span class="facet-item__value">Gucci</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/heshe-97" rel="nofollow" data-drupal-facet-item-id="brand-97" data-drupal-facet-item-value="97"><span class="facet-item__value">Heshe</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/hogan-40" rel="nofollow" data-drupal-facet-item-id="brand-40" data-drupal-facet-item-value="40"><span class="facet-item__value">Hogan</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/hp-161" rel="nofollow" data-drupal-facet-item-id="brand-161" data-drupal-facet-item-value="161"><span class="facet-item__value">HP</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/kattee-95" rel="nofollow" data-drupal-facet-item-id="brand-95" data-drupal-facet-item-value="95"><span class="facet-item__value">Kattee</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/new-balance-93" rel="nofollow" data-drupal-facet-item-id="brand-93" data-drupal-facet-item-value="93"><span class="facet-item__value">New Balance</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/revlon-89" rel="nofollow" data-drupal-facet-item-id="brand-89" data-drupal-facet-item-value="89"><span class="facet-item__value">Revlon</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/samsung-77" rel="nofollow" data-drupal-facet-item-id="brand-77" data-drupal-facet-item-value="77"><span class="facet-item__value">Samsung</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/sonos-86" rel="nofollow" data-drupal-facet-item-id="brand-86" data-drupal-facet-item-value="86"><span class="facet-item__value">Sonos</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/sony-76" rel="nofollow" data-drupal-facet-item-id="brand-76" data-drupal-facet-item-value="76"><span class="facet-item__value">Sony</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/tcl-78" rel="nofollow" data-drupal-facet-item-id="brand-78" data-drupal-facet-item-value="78"><span class="facet-item__value">TCL</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/troadlop-94" rel="nofollow" data-drupal-facet-item-id="brand-94" data-drupal-facet-item-value="94"><span class="facet-item__value">Troadlop</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/valentino-41" rel="nofollow" data-drupal-facet-item-id="brand-41" data-drupal-facet-item-value="41"><span class="facet-item__value">Valentino</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/wandera-technology-74" rel="nofollow" data-drupal-facet-item-id="brand-74" data-drupal-facet-item-value="74"><span class="facet-item__value">Wandera Technology</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/western-digital-73" rel="nofollow" data-drupal-facet-item-id="brand-73" data-drupal-facet-item-value="73"><span class="facet-item__value">Western Digital</span>
                  </a></li><li class="facet-item"><a href="/martis/en/products/brand/zshow-99" rel="nofollow" data-drupal-facet-item-id="brand-99" data-drupal-facet-item-value="99"><span class="facet-item__value">ZSHOW</span>
                  </a></li>
                </ul>

              </div>
            </div>
          </div>
        </div> -->
            {{ column_left }}
            <!-- </div> -->

            <!---End Right SideBar -->

            <!--- Start content -->
            <div class="col-md-12 right-content main-content">
                <div class="region region-content">
                    <div data-drupal-messages-fallback class="hidden"></div>
                    <div id="block-martis-content--3" class="norm-width block-title-1 block-title-left block block-system block-system-main-block">
                        <div class="container-wrap clearfix">
                            <div class="block-content clearfix">
                                <div class="views-element-container">
                                    <div class="product-catalog js-view-dom-id-039fbf70fef0fa850a71f9341bfee6f6763b5b9d2bcf6dff907fe6254678a7d5">
                                        <header>
                                            <div class="switch-icon">
                                                <span class="list-switch ti-view-list-alt"></span>
                                                <span class="grid-switch ti-layout-grid3 active"></span>
                                            </div>
                                        </header>

                                        <form class="views-exposed-form" data-drupal-selector="views-exposed-form-product-catalog-product-catalog" action="#" method="get" id="views-exposed-form-product-catalog-product-catalog" accept-charset="UTF-8">
                                            <div class="form-item js-form-item form-type-select js-form-type-select form-item-sort-by js-form-item-sort-by">
                                                <label for="edit-sort-by" class="control-label">{{ text_sort }}</label>
                                                <div class="select-wrapper">
                                                    <select id="input-sort edit-sort-by" class="form-select form-control" onchange="location = this.value;">
                              {% for sorts in sorts %}
                                {% if sorts.value == '%s-%s'|format(sort, order) %}
                                  <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                                {% else %}
                                  <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                                {% endif %}
                              {% endfor %}
                            </select>
                                                </div>
                                            </div>

                                            <div class="form-item js-form-item form-type-select js-form-type-select form-item-sort-by js-form-item-sort-by">
                                                <label for="edit-sort-by" class="control-label">{{ text_limit }}</label>
                                                <div class="select-wrapper">
                                                    <select id="input-limit edit-sort-by" class="form-select form-control" onchange="location = this.value;">
                              {% for limits in limits %}
                                {% if limits.value == limit %}
                                  <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                                {% else %}
                                  <option value="{{ limits.href }}">{{ limits.text }}</option>
                                {% endif %}
                              {% endfor %}
                            </select>
                                                </div>
                                            </div>
                                        </form>

                                        <div class="row grid-wrapper">
                                            {% for product in products %}
                                            <!-- Grid Product -->
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 grid-item">
                                                <div class="col-sm-12 product-teaser-wrap product-teaser-attribute">
                                                    <div class="product-teaser">
                                                        <div class="product-teaser-bg"></div>
                                                        <div class="product-teaser-container">
                                                            <div class="post-image product-image">
                                                                <div class="product--variation-field--variation_field_image__69 field field-field-image field-type-image field-label-hidden field-items">
                                                                    <div class="field-item">
                                                                        <a href="{{ product.href }}" hreflang="en">
                                                                            <img src="{{ product.thumb }}" width="480" height="480" name="{{ product.name }}" alt="{{ product.name }}" typeof="foaf:Image" />
                                                                        </a>
                                                                    </div>
                                                                    <div class="field-item">
                                                                        <a href="{{ product.href }}" hreflang="en"><img src="{{ product.thumb }}" width="480" height="480" name="{{ product.name }}" alt="{{ product.name }}" typeof="foaf:Image" /></a>
                                                                    </div>
                                                                </div>
                                                                <div class="product-icon-wrap display-none">
                                                                    <div class="product-icon product-view">
                                                                        <a href="{{product.href}}" class="flag-link use-ajax" data-dialog-options="{&quot;width&quot;:680}" data-dialog-type="modal" title="Quick View"><i class="ti-search"></i><span class="flag-title">Quick View</span></a>
                                                                    </div>
                                                                    <div class="product-icon product-add-wishlist">
                                                                        <div class="flag flag-wishlist flag-wishlist-69 action-flag">
                                                                            <a title="Wishlist" href="javascript:void(0);" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');" class="use-ajax flag-link" rel="nofollow"><i class="ti-heart"></i><span class="flag-title">{{button_wishlist}}</span></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-icon product-add-compare">
                                                                        <div class="flag flag-compare flag-compare-69 action-flag">
                                                                            <a title="Compare" href="javascript:void(0);" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');" class="use-ajax flag-link" rel="nofollow"><i class="ti-control-shuffle"></i><span class="flag-title">{{button_compare}}</span></a>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="product-meta-wrap">
                                                                <div class="product-meta">
                                                                    <div class="product-ratings">
                                                                        <div class="field field-field-ratings field-type-voting-api-field field-label-hidden field-item">
                                                                            <div class="votingapi-widgets fivestar">
                                                                                <!-- <form class="commerce-product-basic-product-69-vote-field-ratings__vote-vote-votingapi-fivestar-form vote-form" id="vote-form" data-drupal-selector="commerce-product-basic-product-69-vote-field-ratings-vote-vote-votingapi-fivestar-form" action="/martis/en/products" method="post" accept-charset="UTF-8">
                                              <div class="form-item js-form-item form-type-select js-form-type-select form-item-value js-form-item-value form-no-label form-disabled">
                                                <div class="select-wrapper">
                                                  <select autocomplete="off" data-result-value="5" data-vote-value="5" data-style="css-stars" data-show-own-vote="false" disabled="disabled" data-drupal-selector="edit-value" id="edit-value" name="value" class="form-select form-control">
                                                    <option value="1">Poor</option>
                                                    <option value="2">Not so poor</option>
                                                    <option value="3">average</option>
                                                    <option value="4">good</option>
                                                    <option value="5" selected="selected">very good</option>
                                                  </select>
                                                </div>
                                              </div>
                                              <input autocomplete="off" data-drupal-selector="form-esdq-ujry1p4yrvwhyegcpncs5ydaaef9ndsgoflrlm" type="hidden" name="form_build_id" value="form-eSdQ-uJry1P4YRvwHYEgCPncS5yDaAef9NDSgoflrlM" /><input data-drupal-selector="edit-commerce-product-basic-product-69-vote-field-ratings-vote-vote-votingapi-fivestar-form" type="hidden" name="form_id" value="commerce_product_basic_product_69_vote_field_ratings__vote_vote_votingapi_fivestar_form" /><input data-drupal-selector="edit-submit" type="submit" id="edit-submit--3" name="op" value="Save" class="button button--primary js-form-submit form-submit" />
                                            </form> -->
                                                                                {% if product.rating %}
                                                                                <div class="rating"> {% for i in 1..5 %} {% if product.rating
                                                                                    < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>{%
                                                                                        endif %} {% endfor %}
                                                                                </div>
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-title">
                                                                        <a class="product-title-link" href="{{ product.href }}">
                                                                            <div class="field field-title field-type-string field-label-hidden field-item">
                                                                                {{ product.name|striptags|length > 30 ? product.name|striptags|slice(0, 30) ~ '...' : product.name|striptags }}
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="product-price-wrap">
                                                                        {% if product.price %} {% if not product.special %}
                                                                        <div class="product-price">
                                                                            <div class="product--variation-field--variation_price__69 field field-price field-type-commerce-price field-label-hidden field-item">{{product.price}}</div>
                                                                        </div>
                                                                        {% else %}
                                                                        <div class="product-old-price">
                                                                            <del>
                                                <div class="product--variation-field--variation_list_price__69 field field-list-price field-type-commerce-price field-label-hidden field-item">{{product.price}}</div>
                                              </del>
                                                                        </div>
                                                                        <div class="product-price">
                                                                            <div class="product--variation-field--variation_price__69 field field-price field-type-commerce-price field-label-hidden field-item">{{product.special}}</div>
                                                                        </div>
                                                                        {% endif %} {% endif %}
                                                                    </div>
                                                                    {% if product.tax %}
                                                                    <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %}
                                                                </div>

                                                                <div class="-product-variation-wrap">
                                                                    <div class="-product-add-cart">
                                                                        <div class="has-no-option-variation">
                                                                            <div class="field field-variations field-type-entity-reference field-label-hidden field-items">
                                                                                <div class="field-item">
                                                                                    <div id="commerce-product-add-to-cart-form">
                                                                                        <form class="commerce-order-item-add-to-cart-form-commerce-product-69 commerce-order-item-add-to-cart-form" data-drupal-selector="commerce-order-item-add-to-cart-form-commerce-product-69" action="/martis/en/products" method="post" id="commerce-order-item-add-to-cart-form-commerce-product-69"
                                                                                            accept-charset="UTF-8">
                                                                                            <div class="field--type-entity-reference field--name-purchased-entity field--widget-commerce-product-variation-attributes js-form-wrapper form-wrapper" data-drupal-selector="edit-purchased-entity-wrapper" id="edit-purchased-entity-wrapper">
                                                                                                <div class="attribute-widgets js-form-wrapper form-wrapper" data-drupal-selector="edit-purchased-entity-0-attributes" id="edit-purchased-entity-0-attributes"></div>
                                                                                            </div>
                                                                                            <input autocomplete="off" data-drupal-selector="form-ksolm2wiar0nb38i731waf6ahw-oc3tqyudm5qfiaaa" type="hidden" name="form_build_id" value="form-KsOLM2WIar0Nb38I731waF6ahw-Oc3TQYUDM5qFiAAA" />
                                                                                            <input data-drupal-selector="edit-commerce-order-item-add-to-cart-form-commerce-product-69" type="hidden" name="form_id" value="commerce_order_item_add_to_cart_form_commerce_product_69" />
                                                                                            <div class="field--type-decimal field--name-quantity field--widget-commerce-quantity js-form-wrapper form-wrapper" data-drupal-selector="edit-quantity-wrapper" id="edit-quantity-wrapper">
                                                                                                <div class="form-item js-form-item form-type-number js-form-type-number form-item-quantity-0-value js-form-item-quantity-0-value form-disabled">
                                                                                                    <label for="edit-quantity-0-value" class="control-label">Quantity</label>
                                                                                                    <input data-drupal-selector="edit-quantity-0-value" disabled="disabled" type="number" id="edit-quantity-0-value" name="quantity[0][value]" value="1" step="1" min="1" placeholder="" class="form-number" />
                                                                                                </div>
                                                                                            </div>
                                                                                            <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
                                                                                                <!-- <input class="button--add-to-cart button button--primary js-form-submit form-submit is-disabled" data-drupal-selector="edit-submit" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');" type="button" id="edit-submit" name="op" value="Add to Cart" -->
                                                                                                <button type="button" id="edit-submit" name="op" class="button--add-to-cart button button--primary js-form-submit form-submit button_none_radius" onclick="cart.productDetail('{{ product.product_id }}', '{{ product.minimum }}');">{{button_buy_now}}</button>
                                                                                            </div>
                                                                                        </form>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- #End Grid Product -->
                                            {% endfor %}

                                        </div>

                                        <!-- <nav class="pager" aria-labelledby="pagination-heading">
                                            <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
                                            <ul class="pager__items js-pager__items">
                                                <li class="pager__item is-active">
                                                    <a href="?sort_by=created&amp;page=0" title="Current page">
                                                        <span class="visually-hidden">
                          Current page
                        </span>1
                                                    </a>
                                                </li>
                                                <li class="pager__item">
                                                    <a href="?sort_by=created&amp;page=1" title="Go to page 2">
                                                        <span class="visually-hidden">
                          Page
                        </span>2
                                                    </a>
                                                </li>
                                                <li class="pager__item">
                                                    <a href="?sort_by=created&amp;page=2" title="Go to page 3">
                                                        <span class="visually-hidden">
                          Page
                        </span>3
                                                    </a>
                                                </li>
                                                <li class="pager__item">
                                                    <a href="?sort_by=created&amp;page=3" title="Go to page 4">
                                                        <span class="visually-hidden">
                          Page
                        </span>4</a>
                                                </li>
                                                <li class="pager__item pager__item--next">
                                                    <a href="?sort_by=created&amp;page=1" title="Go to next page" rel="next">
                                                        <span class="visually-hidden">Next page</span>
                                                        <span aria-hidden="true">››</span>
                                                    </a>
                                                </li>
                                                <li class="pager__item pager__item--last">
                                                    <a href="?sort_by=created&amp;page=3" title="Go to last page">
                                                        <span class="visually-hidden">Last page</span>
                                                        <span aria-hidden="true">Last »</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav> -->

                                        <nav class="pager" aria-labelledby="pagination-heading">
                                            <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
                                            {{ pagination }}
                                        </nav>

                                        <!-- {{ pagination }} -->
                                        <footer>
                                            {{ results }}
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---End content -->
        </div>
    </div>
</section>
<!-- End layout -->
{{ footer }}