{{ header }}
<!-- breadcrumb -->
<section id="page-title" class="page-title dark-page-title">
    <div class="container">
        <div class="region region-page-title">
            <div id="block-martis-page-title" class="norm-width block-title-1 block-title-left block block-core block-page-title-block">
                <div class="container-wrap clearfix">
                    <div class="block-content clearfix">
                        <h1>{{heading_title}}</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="pull-left region region-breadcrumb">
            <div id="block-martis-breadcrumbs" class="norm-width block-title-1 block-title-left block block-system block-system-breadcrumb-block">
                <div class="container-wrap clearfix">
                    <div class="block-content clearfix">
                        <nav class="breadcrumb" aria-labelledby="system-breadcrumb">
                            <!-- <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2> -->
                            <ul>
                                {% for breadcrumb in breadcrumbs %}
                                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<div id="product-manufacturer" class="container" style="display: none;">

    <div class="row">{{ column_left }} {% if column_left and column_right %} {% set class = 'col-sm-6' %} {% elseif column_left or column_right %} {% set class = 'col-sm-9' %} {% else %} {% set class = 'col-sm-12' %} {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <h2>{{ heading_title }}</h2>
            {% if products %}
            <div class="row">
                <div class="col-md-2 col-sm-6 hidden-xs">
                    <div class="btn-group btn-group-sm">
                        <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
                        <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group"> <a href="{{ compare }}" id="compare-total" class="btn btn-link">{{ text_compare }}</a> </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="form-group input-group input-group-sm">
                        <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
                        <select id="input-sort" class="form-control" onchange="location = this.value;">
              
              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}
              
              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
              
              {% else %}
              
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
              
              {% endif %}
              {% endfor %}
            
            </select>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="form-group input-group input-group-sm">
                        <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
                        <select id="input-limit" class="form-control" onchange="location = this.value;">
              
              {% for limits in limits %}
              {% if limits.value == limit %}
              
              <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
              
              {% else %}
              
              <option value="{{ limits.href }}">{{ limits.text }}</option>
              
              {% endif %}
              {% endfor %}
            
            </select>
                    </div>
                </div>
            </div>
            <div class="row"> {% for product in products %}
                <div class="product-layout product-list col-xs-12">
                    <div class="product-thumb">
                        <div class="image">
                            <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
                        </div>
                        <div>
                            <div class="caption">
                                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                                <p>{{ product.description }}</p>
                                {% if product.price %}
                                <p class="price"> {% if not product.special %} {{ product.price }} {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %} {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>                                    {% endif %} </p>
                                {% endif %} {% if product.rating %}
                                <div class="rating">
                                    {% for i in 1..5 %} {% if product.rating
                                    < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %} {% endfor %} </div>
                                {% endif %} </div>
                            <div class="button-group">
                                <button type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                                <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                                <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %} </div>
            <div class="row">
                <div class="col-sm-6 text-left">{{ pagination }}</div>
                <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
            {% else %}
            <p>{{ text_empty }}</p>
            <div class="buttons">
                <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
            </div>
            {% endif %} {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>



<div id="" class="container"></div>
<!-- layout -->
<section id="page-wrapper" class="page-wrapper">
    <div class="container">
        <div class="col-sm-12">
            <div id="content"></div>
        </div>
        <div class="row content-layout">

            {{ column_left }}
            <!-- </div> -->

            <!---End Right SideBar -->

            <!--- Start content -->
            <div class="col-md-12 right-content main-content">
                <div class="region region-content">
                    <div data-drupal-messages-fallback class="hidden"></div>
                    <div id="block-martis-content--3" class="norm-width block-title-1 block-title-left block block-system block-system-main-block">
                        <div class="container-wrap clearfix">
                            <div class="block-content clearfix">
                                <div class="views-element-container">
                                    <div class="product-catalog js-view-dom-id-039fbf70fef0fa850a71f9341bfee6f6763b5b9d2bcf6dff907fe6254678a7d5">
                                        <header>
                                            <div class="switch-icon">
                                                <span class="list-switch ti-view-list-alt"></span>
                                                <span class="grid-switch ti-layout-grid3 active"></span>
                                            </div>
                                        </header>

                                        <form class="views-exposed-form" data-drupal-selector="views-exposed-form-product-catalog-product-catalog" action="#" method="get" id="views-exposed-form-product-catalog-product-catalog" accept-charset="UTF-8">
                                            <div class="form-item js-form-item form-type-select js-form-type-select form-item-sort-by js-form-item-sort-by">
                                                <label for="edit-sort-by" class="control-label">{{ text_sort }}</label>
                                                <div class="select-wrapper">
                                                    <select id="input-sort edit-sort-by" class="form-select form-control" onchange="location = this.value;">
                              {% for sorts in sorts %}
                                {% if sorts.value == '%s-%s'|format(sort, order) %}
                                  <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                                {% else %}
                                  <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                                {% endif %}
                              {% endfor %}
                            </select>
                                                </div>
                                            </div>

                                            <div class="form-item js-form-item form-type-select js-form-type-select form-item-sort-by js-form-item-sort-by">
                                                <label for="edit-sort-by" class="control-label">{{ text_limit }}</label>
                                                <div class="select-wrapper">
                                                    <select id="input-limit edit-sort-by" class="form-select form-control" onchange="location = this.value;">
                              {% for limits in limits %}
                                {% if limits.value == limit %}
                                  <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                                {% else %}
                                  <option value="{{ limits.href }}">{{ limits.text }}</option>
                                {% endif %}
                              {% endfor %}
                            </select>
                                                </div>
                                            </div>
                                        </form>

                                        <div class="row grid-wrapper">
                                            {% for product in products %}
                                            <!-- Grid Product -->
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 grid-item">
                                                <div class="col-sm-12 product-teaser-wrap product-teaser-attribute">
                                                    <div class="product-teaser">
                                                        <div class="product-teaser-bg"></div>
                                                        <div class="product-teaser-container">
                                                            <div class="post-image product-image">
                                                                <div class="product--variation-field--variation_field_image__69 field field-field-image field-type-image field-label-hidden field-items">
                                                                    <div class="field-item">
                                                                        <a href="{{ product.href }}" hreflang="en">
                                                                            <img src="{{ product.thumb }}" width="480" height="480" name="{{ product.name }}" alt="{{ product.name }}" typeof="foaf:Image" />
                                                                        </a>
                                                                    </div>
                                                                    <div class="field-item">
                                                                        <a href="{{ product.href }}" hreflang="en"><img src="{{ product.thumb }}" width="480" height="480" name="{{ product.name }}" alt="{{ product.name }}" typeof="foaf:Image" /></a>
                                                                    </div>
                                                                </div>
                                                                <div class="product-icon-wrap display-none">
                                                                    <div class="product-icon product-view">
                                                                        <a href="{{product.href}}" class="flag-link use-ajax" data-dialog-options="{&quot;width&quot;:680}" data-dialog-type="modal" title="Quick View"><i class="ti-search"></i><span class="flag-title">Quick View</span></a>
                                                                    </div>
                                                                    <div class="product-icon product-add-wishlist">
                                                                        <div class="flag flag-wishlist flag-wishlist-69 action-flag">
                                                                            <a title="Wishlist" href="javascript:void(0);" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');" class="use-ajax flag-link" rel="nofollow"><i class="ti-heart"></i><span class="flag-title">{{button_wishlist}}</span></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-icon product-add-compare">
                                                                        <div class="flag flag-compare flag-compare-69 action-flag">
                                                                            <a title="Compare" href="javascript:void(0);" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');" class="use-ajax flag-link" rel="nofollow"><i class="ti-control-shuffle"></i><span class="flag-title">{{button_compare}}</span></a>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="product-meta-wrap">
                                                                <div class="product-meta">
                                                                    <div class="product-ratings">
                                                                        <div class="field field-field-ratings field-type-voting-api-field field-label-hidden field-item">
                                                                            <div class="votingapi-widgets fivestar">

                                                                                {% if product.rating %}
                                                                                <div class="rating"> {% for i in 1..5 %} {% if product.rating
                                                                                    < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>{%
                                                                                        endif %} {% endfor %}
                                                                                </div>
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-title">
                                                                        <a class="product-title-link" href="{{ product.href }}">
                                                                            <div class="field field-title field-type-string field-label-hidden field-item">
                                                                                {{ product.name|striptags|length > 30 ? product.name|striptags|slice(0, 35) ~ '...' : product.name|striptags }}
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="product-price-wrap">
                                                                        {% if product.price %} {% if not product.special %}
                                                                        <div class="product-price">
                                                                            <div class="product--variation-field--variation_price__69 field field-price field-type-commerce-price field-label-hidden field-item">{{product.price}}</div>
                                                                        </div>
                                                                        {% else %}
                                                                        <div class="product-old-price">
                                                                            <del>
                                                <div class="product--variation-field--variation_list_price__69 field field-list-price field-type-commerce-price field-label-hidden field-item">{{product.price}}</div>
                                              </del>
                                                                        </div>
                                                                        <div class="product-price">
                                                                            <div class="product--variation-field--variation_price__69 field field-price field-type-commerce-price field-label-hidden field-item">{{product.special}}</div>
                                                                        </div>
                                                                        {% endif %} {% endif %}
                                                                    </div>
                                                                    {% if product.tax %}
                                                                    <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %}
                                                                </div>

                                                                <div class="-product-variation-wrap">
                                                                    <div class="-product-add-cart">
                                                                        <div class="has-no-option-variation">
                                                                            <div class="field field-variations field-type-entity-reference field-label-hidden field-items">
                                                                                <div class="field-item">
                                                                                    <div id="commerce-product-add-to-cart-form">
                                                                                        <form class="commerce-order-item-add-to-cart-form-commerce-product-69 commerce-order-item-add-to-cart-form" data-drupal-selector="commerce-order-item-add-to-cart-form-commerce-product-69" action="/martis/en/products" method="post" id="commerce-order-item-add-to-cart-form-commerce-product-69"
                                                                                            accept-charset="UTF-8">
                                                                                            <div class="field--type-entity-reference field--name-purchased-entity field--widget-commerce-product-variation-attributes js-form-wrapper form-wrapper" data-drupal-selector="edit-purchased-entity-wrapper" id="edit-purchased-entity-wrapper">
                                                                                                <div class="attribute-widgets js-form-wrapper form-wrapper" data-drupal-selector="edit-purchased-entity-0-attributes" id="edit-purchased-entity-0-attributes"></div>
                                                                                            </div>
                                                                                            <input autocomplete="off" data-drupal-selector="form-ksolm2wiar0nb38i731waf6ahw-oc3tqyudm5qfiaaa" type="hidden" name="form_build_id" value="form-KsOLM2WIar0Nb38I731waF6ahw-Oc3TQYUDM5qFiAAA" />
                                                                                            <input data-drupal-selector="edit-commerce-order-item-add-to-cart-form-commerce-product-69" type="hidden" name="form_id" value="commerce_order_item_add_to_cart_form_commerce_product_69" />
                                                                                            <div class="field--type-decimal field--name-quantity field--widget-commerce-quantity js-form-wrapper form-wrapper" data-drupal-selector="edit-quantity-wrapper" id="edit-quantity-wrapper">
                                                                                                <div class="form-item js-form-item form-type-number js-form-type-number form-item-quantity-0-value js-form-item-quantity-0-value form-disabled">
                                                                                                    <label for="edit-quantity-0-value" class="control-label">Quantity</label>
                                                                                                    <input data-drupal-selector="edit-quantity-0-value" disabled="disabled" type="number" id="edit-quantity-0-value" name="quantity[0][value]" value="1" step="1" min="1" placeholder="" class="form-number" />
                                                                                                </div>
                                                                                            </div>
                                                                                            <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
                                                                                                <!-- <input class="button--add-to-cart button button--primary js-form-submit form-submit is-disabled" data-drupal-selector="edit-submit" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');" type="button" id="edit-submit" name="op" value="Add to Cart"
                                                                                                /> -->
                                                                                                <button type="button" id="edit-submit" name="op" class="button--add-to-cart button button--primary js-form-submit form-submit button_none_radius" onclick="cart.productDetail('{{ product.product_id }}', '{{ product.minimum }}');">{{button_buy_now}}</button>
                                                                                            </div>
                                                                                        </form>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- #End Grid Product -->
                                            {% endfor %}
                                        </div>
                                        <nav class="pager" aria-labelledby="pagination-heading">
                                            <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
                                            {{ pagination }}
                                        </nav>
                                        <footer>
                                            {{ results }}
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---End content -->
        </div>
    </div>
</section>
<!-- End layout -->


{{ footer }}