<span class="donotprint">
{{ header }}{{ column_left }}
</span>
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        {# <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a> #}
        <button type="button" id="print-barcode" data-toggle="tooltip" title="{{ 'Print Barcode' }}" class="btn btn-primary"><i class="fa fa-print"></i></button>
        {# <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-attribute-group').submit() : false;"><i class="fa fa-trash-o"></i></button> #}
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div id="filter-product">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-filter"></i> Filter</h3>
        </div>
        <div class="panel-body">
          <div class="form-group col-md-3">
            <label class="control-label" for="input-name">Product Name</label>
            <input type="text" name="filter_name" value="{{filter_name}}" placeholder="Product Name" id="input-name" class="form-control" autocomplete="off"><ul class="dropdown-menu"></ul>
          </div>
          <div class="form-group col-md-3">
            <label class="control-label" for="input-model">Model</label>
            <input type="text" name="filter_model" value="{{filter_model}}" placeholder="Model" id="input-model" class="form-control" autocomplete="off"><ul class="dropdown-menu"></ul>
          </div>
          {# <div class="form-group col-md-3">
            <label class="control-label" for="input-price">Category</label>
            <input type="text" name="filter_price" value="" placeholder="Category" id="input-price" class="form-control">
          </div> #}
          <div class="form-group col-md-3">
            <label class="control-label" for="input-status">{{ 'Status' }}</label>
            <select name="filter_status" id="input-status" class="form-control">
              <option value="">--Select Status--</option>
                {% if filter_status == '1' %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                {% endif %}
                {% if filter_status == '0' %}
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% else %}
              <option value="0">{{ text_disabled }}</option>
                {% endif %}
            </select>
          </div>
          <div class="form-group col-md-3">
            <label class="control-label" for="input-price">&nbsp;</label>
            <button type="button" id="button-filter" class=" btn btn-primary form-control">Filter</button>
            <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-product').toggleClass('hidden-sm hidden-xs');" class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
          </div>
        </div>
      </div>
    </div>
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-product">
          <div class="table-responsive">
            <div class="row">
              <div class="col-sm-12" style="padding-bottom: 20px; font-size: 16px;">
                {% if filter_model != '' %}
                  <button type="button" class="btn btn-primary"> Model: {{filter_model}}</button>
                {% endif %}
                {% if filter_name != '' %}
                  <button type="button" class="btn btn-success"> Product: {{filter_name}}</button>
                {% endif %}
              </div>

              {# <div clsas="col-sm-2" style="float: left; width: 20%; padding-bottom: 40px;">
                <center>
                  <b>Women T-Shirt</b><br/><br/>
                  <img width="150px" src="{{barcode_url}}"/>
                  <br/>
                  98445678965
                </center>
              </div> #}

              {# <div clsas="col-sm-2" style="float: left; width: 20%; padding-bottom: 40px;">
                <center>
                  <b>Women T-Shirt</b><br/><br/>
                  <img width="150px" src="../image/userfiles/code-128_4.png"/>
                  <br/>
                  98445678965
                </center>
              </div>
              <div clsas="col-sm-2" style="float: left; width: 20%; padding-bottom: 40px;">
                <center>
                  <b>iPhone8</b><br/><br/>
                  <img width="150px" src="../image/userfiles/code-128_4.png"/>
                  <br/>
                  98445678965
                </center>
              </div>
              <div clsas="col-sm-2" style="float: left; width: 20%; padding-bottom: 40px;">
                <center>
                  <b>Men Shirt Fashion</b><br/><br/>
                  <img width="150px" src="../image/userfiles/code-128_4.png"/>
                  <br/>
                  98445678965
                </center>
              </div>
              <div clsas="col-sm-2" style="float: left; width: 20%; padding-bottom: 40px;">
                <center>
                  <b>Shose Fashion</b><br/><br/>
                  <img width="150px" src="../image/userfiles/code-128_4.png"/>
                  <br/>
                  98445678965
                </center>
              </div>
              <div clsas="col-sm-2" style="float: left; width: 20%; padding-bottom: 40px;">
                <center>
                  <b>Barcode A</b><br/><br/>
                  <img width="150px" src="../image/userfiles/code-128_4.png"/>
                  <br/>
                  98445678965
                </center>
              </div>
              <div clsas="col-sm-2" style="float: left; width: 20%; padding-bottom: 40px;">
                <center>
                  <b>Barcode A</b><br/><br/>
                  <img width="150px" src="../image/userfiles/code-128_4.png"/>
                  <br/>
                  98445678965
                </center>
              </div> #}
            </div>

            <div class="print-barcode-area">
              {% if products %} 
                {% for product in products %}
                  <div clsas="col-sm-3" style="float: left; width: 25%; padding-bottom: 40px;">
                    <center>
                      <div style="position: relative;">
                        <b>{{product.name}}</b><br/><br/><br/>
                        <div style="left: 0; right: 0;top: 27%;padding-bottom: 15px;">
                          {# <img width="85px" src="../image/userfiles/qrcode.png"/> #}
                          <img width="90px" src='https://chart.googleapis.com/chart?chs=300x300&cht=qr&choe=UTF-8&chl=http://lademacarecambodia.com/index.php?route=product/product%26product_id={{product.product_id}}'>
                        </div>
                        {# <img src="../image/userfiles/qrcode.png"/> #}
                        <img height="60px" src="{{barcode_url}}&text={{product.ean}}"/>
                      </div>
                    </center>
                  </div>
                {% endfor %} 
              {% else %}
                <center>There is no universal product code found !</center>
              {% endif %}
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  @media print {
    span.donotprint{
      display: hidden;
    }
    
  }
</style>

<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	var url = '';

	var filter_name = $('input[name=\'filter_name\']').val();

	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}

	var filter_model = $('input[name=\'filter_model\']').val();

	if (filter_model) {
		url += '&filter_model=' + encodeURIComponent(filter_model);
	}

	var filter_price = $('input[name=\'filter_price\']').val();

	if (filter_price) {
		url += '&filter_price=' + encodeURIComponent(filter_price);
	}

	var filter_quantity = $('input[name=\'filter_quantity\']').val();

	if (filter_quantity) {
		url += '&filter_quantity=' + encodeURIComponent(filter_quantity);
	}

	var filter_status = $('select[name=\'filter_status\']').val();

	if (filter_status !== '') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}

	location = 'index.php?route=catalog/barcode&user_token={{ user_token }}' + url;
});
//--></script> 
  <script type="text/javascript"><!--
// IE and Edge fix!
$('button[form=\'form-product\']').on('click', function(e) {
	$('#form-product').attr('action', $(this).attr('formaction'));
});
  
$('#print-barcode').on('click', function(e) {
  //window.print();
  // window.location.href=""
  window.open("index.php?route=catalog/barcode/print_barcode&user_token={{ user_token }}&filter_name={{filter_name}}&&filter_model={{filter_model}}&filter_status={{filter_status}}", "newWindow");
});

$('input[name=\'filter_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_name\']').val(item['label']);
	}
});

$('input[name=\'filter_model\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_model=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['model'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_model\']').val(item['label']);
	}
});
//--></script>
{{ footer }}
